body{
    background-color:cadetblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#display{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}
#cuadro{
    border-style: groove;
    border-radius: 25px;
    background-color: white;
    
}
#results{
    border-style: groove;
    border-radius: 25px;
    background-color: white;
}
#botones{
    vertical-align: top;
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    color: white;
}